In [1]:
# global installs for required packages, very common to see these aliased as so
import pandas as pd
import numpy as np
from datetime import date

In [2]:
# read in the weather data file with pandas, df is common name for reading in a file
df = pd.read_csv('./videogamesales.zip')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Q1: Which company is the most common video game publisher?
### Answer: Electronic Arts (1351 titles)

In [25]:
publisher = df.groupby(df.Publisher)
popular_publisher = publisher['Publisher'].count()
popular_publisher.sort_values(ascending=False)

Publisher
Electronic Arts                           1351
Activision                                 975
Namco Bandai Games                         932
Ubisoft                                    921
Konami Digital Entertainment               832
THQ                                        715
Nintendo                                   703
Sony Computer Entertainment                683
Sega                                       639
Take-Two Interactive                       413
Capcom                                     381
Atari                                      363
Tecmo Koei                                 338
Square Enix                                233
Warner Bros. Interactive Entertainment     232
Disney Interactive Studios                 218
Unknown                                    203
Eidos Interactive                          198
Midway Games                               198
505 Games                                  192
Microsoft Game Studios                     189
D3Publisher                                184
Acclaim Entertainment                      184
Vivendi Games                              164
Codemasters                                152
Idea Factory                               129
Deep Silver                                122
Nippon Ichi Software                       105
Zoo Digital Publishing                     104
Majesco Entertainment                       92
                                          ...
Simon & Schuster Interactive                 1
Interchannel-Holon                           1
Intergrow                                    1
Griffin International                        1
Sold Out                                     1
Image Epoch                                  1
DigiCube                                     1
Imadio                                       1
Mystique                                     1
Ertain                                       1
Pony Canyon                                  1
Epic Games                                   1
PopTop Software                              1
Enjoy Gaming ltd.                            1
Pow                                          1
NDA Productions                              1
Quelle                                       1
Elite                                        1
Quest                                        1
Illusion Softworks                           1
Quintet                                      1
ITT Family Games                             1
Ecole                                        1
Mycom                                        1
RED Entertainment                            1
EON Digital Entertainment                    1
EA Games                                     1
DreamWorks Interactive                       1
Rain Games                                   1
Locus                                        1
Name: Publisher, Length: 578, dtype: int64

## Q2: What’s the most common platform?
### Answer: Nintendo DS with 2163 titles

In [26]:
platform = df.groupby(df.Platform)
popular_platform = platform['Platform'].count()
popular_platform.sort_values(ascending=False)

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

## Q3: What about the most common genre?
### Answer: Action with 3316 titles

In [22]:
genre = pd.DataFrame(df['Genre']).groupby(df.Genre).count()
genre = genre.sort_values(['Genre'], ascending=False)
genre.head()

              Genre
Genre
Action         3316
Sports         2346
Misc           1739
Role-Playing   1488
Shooter        1310

## Q4: What are the top 20 highest grossing games?
### Answer: See printout

In [39]:
highest_gross = df.sort_values(['Global_Sales'], ascending=False)
highest_gross.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

## Q5: For North American video game sales, what’s the median?
### Answer: See printout

In [42]:
df['NA_Sales'].median()

0.08

In [43]:
df[(df['NA_Sales'] > 0.079) & (df['NA_Sales'] < 0.081)].head(11)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54
3806,3808,F1 2009,PSP,2009.0,Racing,Codemasters,0.08,0.29,0.00,0.16,0.53

## Q6: For the top-selling game of all time, how many standard deviations above the mean are its sales for North America?
### Answer: 50.48

In [44]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [61]:
std_devs_from_mean = ((41.49-0.264667)/0.816683)
print std_devs_from_mean
# or 
(pd.DataFrame(df['NA_Sales']).max() - pd.DataFrame(df['NA_Sales']).mean()) / pd.DataFrame(df['NA_Sales']).std()

50.478990012

NA_Sales    50.478988
dtype: float64

## Q7: The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
## Answer:

In [78]:
# df['Platform'] = df['Platform'].apply(lambda x: 1 if x == 'Wii' else 0)
# wii_platform_sales = df[['Platform', 'Global_Sales']].groupby(df.Platform)
df.head()

# pd.DataFrame(df.Platform['Wii', 'Global_Sales'])
# .sum(df.Global_Sales).count().sort_values('Platform', ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Wii
0,1,Wii Sports,0,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,1
1,2,Super Mario Bros.,0,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0
2,3,Mario Kart Wii,0,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,1
3,4,Wii Sports Resort,0,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,1
4,5,Pokemon Red/Pokemon Blue,0,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0

In [ ]:
highest_gross = df.sort_values(['Global_Sales'], ascending=False)
highest_gross.head(20)

genre = pd.DataFrame(df['Genre']).groupby(df.Genre).count()
genre = genre.sort_values(['Genre'], ascending=False)
genre.head()

NA_Sales    50.478988
dtype: float64

In [52]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37